#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
  background-color: red;
}
.navbar {
  height: 8vh;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
